body {

   background-color: rgb(234, 252, 234);
   margin: auto;
   max-width: 800px;
}

h1 {

   color: rgb(97, 145, 97);
   font-size: 60px;
}

p {

   color: rgb(97, 145, 97);
   font-size: 22px;
}

.login_system {

   margin: auto;
   position: relative;
   width: 510px;
   height: 355px;
   background: rgb(234, 252, 234);
   border: 2px solid rgb(97, 145, 97);
   border-radius: 2px;
   display: flex;
   justify-content: center;
}

.login_system .user_info {

   padding-left: 140px;
   width: 50%;
   height: 40px;
}

.login_system .user_info p {

   color: rgb(97, 145, 97);
   font-size: 20px;
}


.user_info input {

   width: 220px;
   height: 20px;
}

.login_system h2 {

   text-align: center;
   color: rgb(97, 145, 97);
   font-size: 35px;
}

.user_registration p {

   padding-top: 150px;
   padding-left: 140px;
   font-size: 20px;
}