<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/plant.css">

</head>

<body>

    <div class="plants">

        <form action="/add_plant" method="post">

            <p>
                Name: <textarea name="name" rows="1" cols="30" required></textarea>
                Latin name: <textarea name="latinname" rows="1" cols="30" required></textarea>
            </p>

            <p>Light tolerance:
                <input type="radio" name="light" value="Bright direct" required> Bright direct
                <input type="radio" name="light" value="Bright indirect" required> Bright indirect
                <input type="radio" name="light" value="Low light" required> Low light
            </p>

            <p>Watering frequenzy:
                <input type="radio" name="water" value="Often" required> Often
                <input type="radio" name="water" value="Half-dry soil" required> Half-dry soil
                <input type="radio" name="water" value="completely dry soil" required> Completely dry soil
            </p>


            <p>Good to remember: <textarea name="other" rows="4" cols="100" required></textarea>
            </p>

            <input type="submit" value="Submit">

        </form>

    </div>

</body>

</html>