<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/register.css">
</head>

<body>

    <div class="login_system">
        <form action="/register" method="post">
            <div class="user_info">
                <p>Username:</p>
                <input type="text" name="username" required>
                <p>Password:</p>
                <input type="text" name="password" required>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

</body>

</html>