<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/login.css">   

</head>

<body>

<form action="index.html" method="POST">
    Username:
    <input type="text" username="username">
    <br>
    Password:
    <input type="text" password="password">
    <br>
    <input onclick=InfoToUser() type="submit" value="Submit">
</form>

<script>
function InfoToUser() {
    alert("Registration successful!");
}


</script>

</body>
</html>