<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/user.css">     
    <title>Plant Blog</title>

</head>
<body>

    <h1>Plant Blog &#127793;</h1>
    <h3>Welcome (insert user)!</h3>  
    <a href="/logout">Log out</a>


    <div class="platform">
        <p>List here</p>
        <br>
        <a href="/new_plant">Add</a>
        <br>
        <p>You have {{ count }} plants</p>


    </div>

</body>
</html>